@page
@model AWSPlay.Pages.SpecsModel
@{
}

<div class="text-center">
    @{
        if (Model.Specs != null)
        {
            foreach (var spec in Model.Specs)
            {
                <p>@spec.Value</p>
            }
        }
    }
</div>
<form method="post">
    Add spec: <input type="text" name="NewSpec" value="" /><input type="submit" value="OK" />
</form>